# mysite_nginx.conf

upstream django {
    server unix:///{{ project_dir }}/{{ app_name }}/socket; # взаимодействие с uwsgi через Unix-сокет
    # server 127.0.0.1:8001; # взаимодействие с uwsgi через веб-порт
}

server {
    listen      80 default_server;
    server_name     {{ project_url }};
    charset     utf-8;
    error_log   {{ project_dir }}/logs/error.log warn;


    client_max_body_size 75M;

    location /media  {
        alias {{ project_dir }}/{{ app_name }}/media;
    }

    location /static {
        alias {{ project_dir }}/{{ app_name }}/static;
    }

    location / {
        uwsgi_pass  django;
        include     {{ project_dir }}/uwsgi_params;
    }
}
