description "uWSGI application server"

start on runlevel [2345]
stop on runlevel [!2345]

setuid {{  username }}
setgid {{  username }}

exec {{ project_dir }}/virtualenv/bin/uwsgi --ini {{ project_dir }}/uwsgi.ini
